# Node
node_modules/
npm-debug.log

# Environment variables
.env

# Logs
logs/
*.log
*.tmp
*.png

# Runtime data
db.json
db.json.backup

# Build artifacts
bot.exe
node.exe
evertext_brain/target/
bin/
dist/
*.mp4
*.mov
*.avi
*.mkv

# Editor
.vscode/

# Backups
package.json.bak
evertext_brain/src/main.rs.bak

